$SystemBlue: rgba(12, 69, 189, 0.65);
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
}

.hover-light:hover {
  opacity: 100% !important;
}

.suspended {
  position: absolute !important;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.el-card {
  margin-top: 5vh;
  padding-top: 1vh;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  .el-card__body {
    padding-top: 0.5em;
  }

  .el-card__header {
    width: 100%;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    text-wrap: none;

    #title-col {
      @media screen and (max-width: 990px) {
        display: inline-block !important;
        text-align: center;
        width: 100% !important;
        margin: 0 !important;
      }
    }
  }
}

.el-table .el-table__cell {
  padding: 1rem 0;
}

.el-form-item {
  margin-bottom: 1rem;
}

@media screen and (max-width: 990px) { //解决element-ui在移动端的样式问题
  .el-select-dropdown__wrap {
    margin-bottom: 0 !important;
  }
}
