$SystemBlue: rgba(12, 69, 189, 0.65);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  //font-family: 'Microsoft YaHei', sans-serif !important;
}
.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
}

.hover-light:hover {
  opacity: 100% !important;
}

.suspended {
  position: absolute !important;
}
