<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bukkit.sip.orm.mapper.UserMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="cn.bukkit.sip.orm.entity.User">
        <!--@mbg.generated-->
        <!--@Table `user`-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="data" jdbcType="VARCHAR" property="data"
                javaType="org.casbin.casdoor.entity.CasdoorUser"
                typeHandler="cn.bukkit.sip.orm.handler.CasdoorTypeHandler"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        `data`,
        updateTime
    </sql>
</mapper>